@model ExecBonusUI.Models.Person

@{
    ViewBag.Title = "ExecBonus";
}


<body>

    <div id="datePickerPosition">
        <div class="container">
            <div class="hero-unit">
                <div class="input-daterange" id="datepicker" data-date-format="yyyy-mm-dd">
                    <p>
                        Dates from:
                        <input type="text" class="input-small" name="start" />
                        <span id="datePickerSpan" style="vertical-align: top;  height:20px; color:blue">to</span>
                        <input type="text" class="input-small" name="end" />
                        <button type="button" class="btn btn-primary">Search Date</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <table id="myTable" class="display" cellspacing="0" >
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.listOfPersons)
            {
                <tr>
                    <td>@item.ID</td>

                    <td>@item.FirstName</td>

                    <td>@item.LastName</td>

                    <td>@item.Address</td>

                    <td>@item.Date</td>
                </tr>
            }
        </tbody>
    </table>
   @using (Html.BeginForm("ActionMethodName","Person"))
{
 

 <input class="button" id="submit" type="submit" value="Submit" />

}
    <button id="button">delete Row</button>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#myTable').DataTable();

        $('#myTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        $('#button').click(function () {
            table.row('.selected').remove().draw(false);
            
        });

        $('#myTable tbody').on('click', 'tr', function () {
            var aData = table.row(this).data();
            alert(aData[1] +" "+ aData[2]);
        });
    });
</script>